[Unit]
Description=Exports certificates for mailserver
After=network.target

[Service]
Type=oneshot
ExecStart=/bin/bash /var/srv/mailserver/export.sh
